---
import Navigation from '../components/Navigation.astro'
import { DarkMode, Link, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <Link href="/getting-started">Getting Started</Link>
    </li>
    <li class="menu-item">
      <Link href="/details">Details</Link>
    </li>
    <li class="menu-item">
      <Link href="/contact">Contact</Link>
    </li>
    <li class="menu-item auth-link">
      <Link href="/login">Log In</Link>
    </li>
    <li class="menu-item auth-link">
      <Link href="/signup">Sign Up</Link>
    </li>
    <li class="menu-item subscribe-link">
      <Link href="/subscribe">Subscribe</Link>
    </li>
    <!-- <li class="menu-item">
      <Link href="/">Home</Link>
    </li>
    <li class="menu-item">
      <Link href="/blog/">Blog</Link>
    </li>
    <li class="menu-item">
      <Link href="/portfolio/">Portfolio</Link>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        Theme features
        <Icon aria-hidden="true" name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <Link href="/accessibility-statement">Accessibility statement</Link>
        </li>
        <li class="submenu-item">
          <Link href="/accessible-components">Accessible components</Link>
        </li>
        <li class="submenu-item">
          <Link href="/color-contrast-checker">Color contrast checker</Link>
        </li>
        <li class="submenu-item">
          <Link href="/markdown-page/">Markdown page</Link>
        </li>
        <li class="submenu-item">
          <Link href="/mdx-page/">MDX page</Link>
        </li>
        <li class="submenu-item">
          <Link href="/404-page">404 page</Link>
        </li>
        <li class="submenu-item">
          <Link href="/sitemap">Sitemap</Link>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <Link href="/contact/">Contact</Link>
    </li>
    <li class="menu-item">
      <Link href="https://accessible-astro.incluud.dev/">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="50" viewBox="0 0 526 412">
        <path d="M526,0v412H0V0h526ZM423,90v-14.5c0-1.9-5.02-6.11-7.48-5.52-33.84,2.31-71.63-3.03-105.01.04-6.32.58-14.78,3.49-20.22,6.78-4.99,3.02-8.27,7.71-12.71,11.16-7.4-9.95-19.61-16.8-32.11-17.94-33.37-3.07-71.16,2.28-105.01-.04-2.45-.59-7.48,3.62-7.48,5.52v14.5h-25.5c-2.29,0-6.45,5.73-5.55,8.45v212.1c-.81,1.61,4.14,6.45,4.55,6.45h48c.11,0,1.5,1.39,1.5,1.5v33c0,.37,3.42,3.39,4.27,3.76,6.43,2.78,19.51-7.49,26.19-7.31,8.08.22,20.67,11.99,28.07,6.08.57-.45,2.47-3.16,2.47-3.53v-33.5h26.5c.74,0,2.7,4.58,3.5,5.5,2.69,3.1,7.65,7.44,11.73,8.27,6.01,1.22,29.11.95,35.83.28,9.17-.91,13.84-6.7,18.15-14.07l137.27-.5c2.22-1.87,4.5-3.65,4.08-6.92V98.45c.89-2.73-3.27-8.45-5.56-8.45h-25.5Z" fill="#fefefe"/>
        <path d="M408,85v189h-122V106.5c0-.41,2.98-6.45,3.56-7.44,4.51-7.71,14.95-14.06,23.94-14.06h94.5ZM309.72,116.22c-7.83,2.09-6.8,13.52.85,14.72,22.36-1.82,49.14,2.65,70.96.09,9.95-1.17,10.35-12.88.92-14.97l-72.73.16ZM311.74,153.24c-10.08,2.33-10.06,12.94-.18,15.71,21.85-1.69,47.56,2.46,68.94.06,11.65-1.31,11.41-14.44.91-15.91-20.86-2.92-48.14,1.79-69.67.14ZM306.28,193.28c-4.38,4.41-1.36,12.78,5.2,12.74l72-.04c8.53-3.43,7.39-13.89-1.96-15-21.91,1.85-47.61-2.39-69.05,0-1.65.18-5.1,1.2-6.2,2.31ZM386.71,230.3c-1.54-1.25-3.31-1.18-5.17-1.34-22.72-1.93-48.08,1.56-71.09-.01-9.13,2.3-7.61,13.11,1.11,14.99,21.84-1.7,47.58,2.48,68.94.06,7.79-.88,12.09-8.94,6.21-13.7Z" fill="#fefefe"/>
        <path d="M270,274h-122V85h94.5c8.99,0,19.43,6.35,23.94,14.06.58.99,3.56,7.03,3.56,7.44v167.5ZM232.11,131.11c.19-.22,3.62-.51,5.42-2.08,4.63-4.05,2.47-11.22-3.25-12.81-15.21,1.03-34.05-2.1-48.83-.26-2.27.28-5.37,1.66-6.03,3.95-2.91,10.19,6.32,10.63,6.63,11.71.43,1.54.37,27.66-.05,29.89-5.01,5.85-11.71,10.15-15.55,17.45-20.35,38.67,21.59,80.48,60.21,59.21,29.45-16.22,29.98-58.64,1.32-75.87.68-4.05-.9-30.01.13-31.19Z" fill="#fefefe"/>
        <path d="M439,105v197h-126c.54-2.83-1.46-11.85,1.64-12.86l101.91-.09c2.13.73,6.45-4.34,6.45-5.55V105h16Z" fill="#fefefe"/>
        <path d="M133,106v178.5c0,7.26,19.27,2.99,22.06,4.94,1.98,1.38.49,9.84.94,12.56h-39V106h16Z" fill="#fefefe"/>
        <path d="M202,289v48c-11.78-5.92-19.21-6.12-31,0v-48h31Z" fill="#fefefe"/>
        <path d="M298,289v22.5c0,3.08-4.96,4.31-7.45,4.55-4.56.42-27.29.51-29.94-1.15-.72-.45-2.6-2.85-2.6-3.4v-22.5h40Z" fill="#fefefe"/>
        <rect x="217" y="289" width="26" height="13" fill="#fefefe"/>
        <g>
          <path d="M423,90h25.5c2.29,0,6.45,5.73,5.55,8.45v211.11c.43,3.26-1.85,5.05-4.07,6.92l-137.27.5c-4.31,7.37-8.98,13.16-18.15,14.07-6.72.67-29.82.94-35.83-.28-4.08-.83-9.04-5.17-11.73-8.27-.8-.92-2.76-5.5-3.5-5.5h-26.5v33.5c0,.36-1.9,3.07-2.47,3.53-7.4,5.91-19.99-5.86-28.07-6.08-6.68-.18-19.76,10.09-26.19,7.31-.85-.37-4.27-3.38-4.27-3.76v-33c0-.11-1.39-1.5-1.5-1.5h-48c-.41,0-5.36-4.84-4.55-6.45V98.45c-.9-2.73,3.26-8.45,5.55-8.45h25.5v-14.5c0-1.9,5.02-6.11,7.48-5.52,33.84,2.31,71.63-3.03,105.01.04,12.5,1.15,24.71,7.99,32.11,17.94,4.43-3.45,7.72-8.14,12.71-11.16,5.43-3.29,13.89-6.2,20.22-6.78,33.37-3.07,71.16,2.28,105.01-.04,2.45-.59,7.48,3.62,7.48,5.52v14.5ZM270,274V106.5c0-.41-2.98-6.45-3.56-7.44-4.51-7.71-14.95-14.06-23.94-14.06h-94.5v189h122ZM408,85h-94.5c-8.99,0-19.43,6.35-23.94,14.06-.58.99-3.56,7.03-3.56,7.44v167.5h122V85ZM439,105h-16v178.5c0,1.21-4.32,6.28-6.45,5.55l-101.91.09c-3.1,1.02-1.1,10.03-1.64,12.86h126V105ZM133,106h-16v196h39c-.45-2.72,1.04-11.19-.94-12.56-2.8-1.95-22.06,2.32-22.06-4.94V106ZM202,289h-31v48c11.79-6.12,19.22-5.92,31,0v-48ZM243,289h-26v13h26v-13ZM298,289h-40v22.5c0,.54,1.89,2.95,2.6,3.4,2.65,1.66,25.38,1.57,29.94,1.15,2.5-.23,7.45-1.47,7.45-4.55v-22.5Z" fill="#030303"/>
          <path d="M311.74,153.24c21.53,1.65,48.81-3.06,69.67-.14,10.5,1.47,10.74,14.6-.91,15.91-21.38,2.4-47.09-1.74-68.94-.06-9.88-2.76-9.9-13.37.18-15.71Z" fill="#31c5c5"/>
          <path d="M309.72,116.22l72.73-.16c9.43,2.08,9.03,13.8-.92,14.97-21.82,2.56-48.6-1.91-70.96-.09-7.64-1.2-8.68-12.63-.85-14.72Z" fill="#31c5c5"/>
          <path d="M306.28,193.28c1.1-1.1,4.54-2.12,6.2-2.31,21.43-2.39,47.14,1.85,69.05,0,9.35,1.11,10.49,11.57,1.96,15l-72,.04c-6.56.03-9.58-8.33-5.2-12.74Z" fill="#31c5c5"/>
          <path d="M386.71,230.3c5.88,4.75,1.58,12.82-6.21,13.7-21.36,2.42-47.11-1.75-68.94-.06-8.71-1.89-10.23-12.7-1.11-14.99,23.02,1.57,48.37-1.92,71.09.01,1.85.16,3.62.09,5.17,1.34Z" fill="#31c5c5"/>
          <path d="M232.11,131.11c-1.03,1.17.55,27.13-.13,31.19,28.67,17.23,28.13,59.65-1.32,75.87-38.62,21.27-80.55-20.54-60.21-59.21,3.84-7.3,10.54-11.6,15.55-17.45.43-2.23.49-28.35.05-29.89-.3-1.08-9.54-1.53-6.63-11.71.65-2.29,3.76-3.66,6.03-3.95,14.77-1.84,33.61,1.28,48.83.26,5.71,1.59,7.88,8.76,3.25,12.81-1.8,1.57-5.23,1.86-5.42,2.08ZM217,131h-15v36.5c0,5.9-20.2,13.08-19,22.5h53c.85-7.21-19-18.29-19-20.5v-38.5ZM237,205h-56c5.62,31.35,50.88,31.43,56,0Z" fill="#31c5c5"/>
        </g>
        <path d="M217,131v38.5c0,2.21,19.85,13.29,19,20.5h-53c-1.2-9.42,19-16.6,19-22.5v-36.5h15Z" fill="#fefefe"/>
        <path d="M237,205c-5.12,31.43-50.38,31.35-56,0h56Z" fill="#fefefe"/>
      </svg>
      </Link>
    </li> -->
    <li class="menu-item type-icon animate-rotate">
      <Link href="https://github.com/robo-korgi/theme-forseen">
        <Icon aria-hidden="true" name="lucide:github" />
        <span class="sr-only">Go to the GitHub page</span>
      </Link>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <DarkMode>
        <Icon aria-hidden="true" name="lucide:moon" slot="light" />
        <Icon aria-hidden="true" name="lucide:sun" slot="dark" />
      </DarkMode>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }

    .subscribe-link a {
      font-weight: 600;
      color: var(--color-primary);
      text-decoration: underline;
      text-decoration-color: transparent;
      transition: text-decoration-color 0.2s ease;

      &:hover {
        text-decoration-color: var(--color-primary);
      }
    }
  }
</style>
