---
import { Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Hero Component
 *
 * @description A component that displays a hero section with a title, description, and image
 */
interface Props {
  /**
   * The source URL for the image
   */
  src?: string
}
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 min-[1000px]:items-start max-w-3xl lg:max-w-none mx-auto lg:mx-0">
        <h2 class="text-center min-[1000px]:text-left">
          <slot>
            Scrollable <br />
            <span class="text-gradient">
              Color Themes
            </span><br />
            & Font Pairings<br />
            <em>
              Live Preview 
              <svg id="Layer_1" class="inline relative bottom-2" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="63" height="68" viewBox="0 0 409 439">
                <path d="M251.01,116c20.72-21.49,55.54-8.77,55.99,21.5.03,1.88-1.06,3.84-1.04,5.96.18,30.6-.05,61.06-.94,91.54,19.18-29.31,66.02-8.66,56.49,25-30.58,49.59-43.81,127-114.01,131.99-46.94,3.33-93.67,2.66-120.91-41.07-17.15-27.53-29.52-60.75-46.07-88.93-12.33-34.33,35.78-57.22,55.48-26.99l-1-103.51c4.88-26.43,36.72-35.48,55-15.49-3.78-46.21,65.07-46.35,61.02,0Z" />
                <path d="M134.75,70.76c-1.81,1.72-13.27,4.7-15.48,6.51-3.15,2.57-3.92,16.83-8.77,19.72-2.91,0-6.12-15.64-8.46-18.52-3.16-3.87-17.8-6.22-16.86-10.82.67-3.25,14.38-6.05,16.86-9.1,2.62-3.23,4.08-14.55,6.48-17.52.84-1.03,1.69-1.42,2.96-1,2.14.7,5.33,15.88,7.48,18.52,2.59,3.19,21.66,6.65,15.79,12.22Z" class="primary-fill" />
                <path d="M346.99,76c.55.46,2.39,11.75,4.27,13.75s12.02,3.5,12.49,6.73c.5,3.4-9.71,4.63-12.22,7.55-2.01,2.34-4.21,14.62-7.01,13.97-3.14-3.26-2.9-10.35-5.47-13.54s-10.37-4.06-13.02-7.96c.01-2.06,11.08-5.04,12.73-6.75,1.36-1.42,4.24-17.12,8.24-13.75Z" class="primary-fill" />
                <path d="M71.77,140.18c15.17-1.75,18.69,22.43,3.67,24.75-18.2,2.82-20.54-22.8-3.67-24.75Z" fill="#010101"/>
                <path d="M291.75,63.16c7.23-1.34,8.64,10,1.59,10.63-5.44.49-8.38-9.37-1.59-10.63Z" fill="#060606"/>
                <path d="M292.3,264.71c2.61,3.23,7.18,2.71,10.22.3,6.33-5.01,12-22.11,19.55-27.44,11.58-8.17,30.92,3.96,26.15,18.16-28.25,42.96-39.73,117.73-101.68,122.31-41.21,3.05-85.08,3.75-108.71-35.37-14.03-23.23-29.44-54.88-41.35-79.65-3.79-7.88-7.25-12.77-.93-20.97s19.17-10.18,26.29-2.4c4.84,5.28,12.85,22.78,17.17,25.82,5.87,4.12,10.43.53,11.03-5.93,1.44-15.72.16-36.81,0-53.09-.22-21.99-3.68-51.62-1.07-72.98,1.88-15.4,22.38-19.38,31.03-6.98,3.43,4.91,3.51,13.86,3.98,20.02,1.75,22.81.91,47.22,3.13,69.87.48,4.91,1.38,10.36,7.35,10.51,4.74.12,7.05-4.17,7.55-8.36,1.43-12.08-.36-28.34-.07-41.07.37-16.16,1.4-32.76,2.08-48.92.32-7.65-1.67-19.43,2.11-25.89,6.82-11.66,28.53-9.53,30.79,4.91,2.71,17.33,1.65,44.42,2.1,62.9.37,14.91-2.16,38.2,1.18,51.82,1.65,6.73,12.1,6.5,13.52-3.05,3.9-26.2,1.19-57.01,4.26-83.74,2.61-22.75,34.73-21.31,35.03,2.06.36,27.63-1.71,56.22-2.08,83.9-.16,11.78-.96,26.66,0,38.09.16,1.85.09,3.62,1.34,5.17Z" fill="#fefefe"/>
                <path d="M213.8,260.3c33.54-3.18,62.39,19.54,82.71,43.73,2.18,4.67-9.51,15.69-12.99,19-42.46,40.42-86.62,38.92-128.05-2-2.9-2.86-12.22-12.37-11.07-16.05.86-2.75,11.8-13.9,14.59-16.49,14.06-13.07,35.38-26.34,54.81-28.19Z"/>
                <path d="M164.71,184.21c9.06-2.72,9.76,5.66,10.28,12.3.83,10.6.58,22.26.99,32.96-2.62,7.55-12.64,7.09-13.92-1.03-1.35-8.61-.92-22.79-1.06-31.93-.06-3.69-2.58-10.41,3.71-12.3Z" fill="#010101"/>
                <path d="M163.74,146.18c11.42-2.29,12.03,17.21,2.69,17.81s-11.03-16.14-2.69-17.81Z" fill="#020202"/>
                <path d="M217.24,118.24c8.6-8.61,12.05,18.12,1.43,14.61-3.52-1.16-3.52-12.52-1.43-14.61Z" fill="#090909"/>
                <path d="M217.24,175.24c8.6-8.61,12.05,18.12,1.43,14.61-3.52-1.16-3.52-12.52-1.43-14.61Z" fill="#090909"/>
                <path d="M278.76,159.75c-1.68,1.7-6.05,1.48-7.1-.98-1.88-4.42-1.56-16.01,5.67-13.63,3.52,1.16,3.52,12.49,1.42,14.61Z" fill="#090909"/>
                <path d="M276.76,193.24c2.63,2.73,2.3,16.67-3.84,15.31-8.25-1.82-2.73-22.13,3.84-15.31Z" fill="#080808"/>
                <path d="M223.76,239.75c-7.7,7.79-12.5-17.89-1.46-14.57,3.95,1.19,3.46,12.55,1.46,14.57Z" fill="#080808"/>
                <path d="M111.71,254.18c2.32-.7,3.75-.42,5.19,1.43,2.74,3.51,7.33,15.6-1.18,13.25-3.22-.89-10.16-12.83-4.01-14.68Z" fill="#050505"/>
                <path d="M268.64,239.11c10.22-3.41,7.89,21.62-.23,14.98-2.15-1.76-2.37-14.11.23-14.98Z" fill="#040404"/>
                <path d="M327.72,267.7c-2.82,2.42-7.7,1.13-7.25-3.21.2-1.98,4.32-9.73,6.23-10.32,9.04-2.75,4.43,10.6,1.02,13.53Z" fill="#030303"/>
                <path d="M247.65,279.35c33.76,33.76-14.43,87.08-51.66,56.16-39.73-33,14.48-93.34,51.66-56.16Z" class="secondary-fill" />
                <path d="M261,328.99c5.83-10.29,7.57-22.66,4.72-34.21-.96-3.9-3.29-6.99-4.22-10.78,4.67.6,25.55,20.04,25.35,22.33-2.52,4.44-7.02,8.71-10.84,12.19-1.82,1.66-13.63,11.59-15.01,10.48Z" class="primary-fill" />
                <path d="M178.99,329c-9.26-6.3-17.89-13.71-24.82-22.49,6.61-9.1,15.32-16.6,24.82-22.51-6.34,15.78-6.1,29.22,0,45Z" class="primary-fill" />
                <path d="M215.74,284.24c36.62-6.22,35.14,50.95.22,44.3-24.07-4.58-22.89-40.45-.22-44.3Z" fill="#010101"/>
                <path d="M230.66,316.66c-13.47,13.43-33.45-8.31-20.18-20.68,13.61-12.7,33.47,7.43,20.18,20.68Z" fill="#010101"/>
              </svg>
            </em>
          </slot>
        </h2>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <Link
            href="https://github.com/robo-korgi/theme-forseen"
            isButton
            type="primary"
            animateOnHover
            animationType="boop"
          >
            <Icon aria-hidden="true" name="lucide:star" size="1.5rem" />
            Star on GitHub
          </Link>
          <!-- <Link
            href="https://accessible-astro.incluud.dev/"
            isButton
            type="secondary"
            animateOnHover
            animationType="boop"
          >
            <Icon aria-hidden="true" name="lucide:bookmark" size="1.5rem" />
            Read the docs
          </Link> -->
        </div>
      </div>
      <div class="max-w-3xl lg:max-w-none mx-auto lg:mx-0">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="450" viewBox="0 0 481 424">
        <defs>
        </defs>
        <g>
        <path d="M148,347l-7.45,18.05c-2.15,2.34-20.86,11.59-24.03,11.97-3.32.41-24.66.37-26.53-.52-.82-.39-1.39-1.37-1.86-2.14-10.62-25.87-19.18-52.46-28.1-78.96-.22-5.41,10.77-12.57,13.95-16.9-7.25-7.96-25.06-19.55-3.93-23.07-1.61-13.55-2.42-27.28-4.18-40.8-1.02-7.82-6.78-30-5.69-35.87.41-2.19,11.99-21.67,13.78-23.3,4.52-4.11,13.96-3.56,16.92,2.17,3.25,6.31-.21,14.39-2.87,20.36,3.91.82,4.57-4.2,7.11-6.38,5.29-4.54,15.93-3.63,18.34,3.44,3.21,9.39-6.21,23.15-9.45,31.94,2.26-1.24,12.39-.64,12.9-1.09.46-.4,3.68-10.59,3.86-11.64,1.16-6.78-.87-9.55,3.8-16.2,3.99-5.69,11.54-7.35,13.18-9.33.91-1.1,1.64-5.04,3.74-7.76,2.72-3.51,11.58-8.05,12.04-8.96,1.82-3.61-.16-21.67.47-27.53,1.31-12.05,11.63-21.19,21.98-26.08.8-2.8-11.32-17.67-11.05-23.9.09-2.08,9.6-21.75,11.22-23.87,3.25-4.26,14.1-5.47,19.56-8.44,7.26-3.96,16.95-15.53,24.75-16.25,5.44-.51,30.49-.78,34.6.49,4.73,1.46,15.58,12.76,21.23,15.77,5,2.65,16.01,4.09,19.19,7.81,1.52,1.78,11.51,22.51,11.6,24.5.29,6.75-9.73,17.07-11.05,23.9,10.21,4.67,20.72,14.33,21.98,26.08.49,4.55-.85,26.88.12,28.37.25.39,6.07,2.41,8.34,4.16,5.85,4.5,5.22,8.6,7.79,11.71,1.62,1.96,9.19,3.64,13.18,9.33,4.66,6.65,2.64,9.42,3.8,16.2.18,1.04,3.4,11.24,3.86,11.64s9.82-.03,11.9,1.09c-1.46-10.03-11.96-21.65-8.45-31.95,2.42-7.08,13.04-7.97,18.34-3.44,1.11.95,4.78,7.93,6.1,6.39-.7-6.43-4.05-10.61-2.93-17.44,1.3-7.96,12.42-10.17,17.98-5.1,1.79,1.63,13.37,21.11,13.78,23.3,1.04,5.57-4.7,28.26-5.69,35.87-1.76,13.53-2.58,27.25-4.18,40.8,21.13,3.52,3.32,15.11-3.93,23.07,3.17,4.33,14.17,11.49,13.95,16.9-8.92,26.5-17.48,53.09-28.1,78.96-.47.77-1.04,1.75-1.86,2.14-1.87.89-23.2.93-26.53.52s-21.88-9.63-24.03-11.97l-7.45-18.05v26.5c0,.28-1.55,2.73-2,3h-172c-.45-.27-2-2.72-2-3v-26.5Z"/>
        <path d="M256.65,231.35c8.71,8.97,13.25,22.6,12.22,35.02-.15,1.86-2.1,11.92-3.01,12.49-.76.47-5.82.01-8.6.91-5.31,1.71-9.83,8.24-10.31,13.75-.58,6.73,3.46,5.86-4.71,9.24-37.03,15.31-72.04-21.12-58.25-57.76,12.31,13.55,34.97,2.5,29.05-15.56-1.18-3.6-4.24-4.9-4.05-8.43,16.22-6.05,35.53-2.13,47.65,10.34Z" class="primary-fill" />
        <path d="M313,367c-1.79-.29-10.61.41-11,0-.71-.71,1.71-11.65-5.96-18.54-1.43-1.29-4.73-2.39-4.88-2.62-1.24-1.94,1.19-16.16-6.08-19.49,17.01-18.68,23.68-37.4,21.91-62.85-.21-2.96-2.53-7.42-1.86-9.81.45-1.62,11.57-9.1,13.88-11.19,8.4-7.59,15.72-16.53,22.21-25.79,1.11-1.59,2.57-5.5,2.79-5.72,4.01-3.95-.02,8.84-.06,9.53-.81,13.64,13.96,14.89,14.08,23.96.04,2.72-2.68.85-4.63,2.41-5.13,4.09,3.51,19.16,2.45,23.42-.9,3.62-15.29,7.96-15.42,13.62l-7.45,51.06-10.54-26.93c-2.4-3.99-9.45-.71-9.45,2.44v56.5Z" class="secondary-fill" />
        <path d="M159,310.5c-.82-3.79-6.65-6.15-9.45-2.44l-10.54,26.93-7.45-51.06c-.13-5.65-14.52-10-15.42-13.62-1.06-4.26,7.58-19.33,2.45-23.42-1.95-1.55-4.68.3-4.63-2.41.16-8.98,14.89-10.36,14.08-23.96-.04-.69-4.07-13.48-.06-9.53.23.22,1.68,4.13,2.79,5.72,6.49,9.26,13.81,18.2,22.21,25.79,2.31,2.09,13.43,9.57,13.88,11.19.67,2.39-1.65,6.84-1.86,9.81-1.78,25.57,4.82,44.07,21.91,62.85-7.27,3.34-4.84,17.55-6.08,19.49-.15.23-3.45,1.33-4.88,2.62-7.67,6.89-5.24,17.82-5.96,18.54-.4.4-9.21-.3-11,0v-56.5Z" class="secondary-fill" />
        <path d="M193.5,202c.6-.16,9.29-5.71,10.41-6.59,5.95-4.69,8.7-11.08,10.1-18.41,4.36,4.25,15.54,13.6,21.56,13.99,5.66.37,18.43-9.84,22.41-13.99,1.4,7.32,4.15,13.72,10.1,18.41,1.15.9,9.8,6.59,10.41,6.59h58.5c-5.65,10.08-13.09,20.54-21.35,28.65-2.15,2.12-13.05,11.74-15.12,11.39-.82-.14-6.96-11.57-9.02-14.05-34.24-41.32-89.2-31.93-117.96,10.08-1.54,2.25-.84,4.84-3.89,3.78-1.09-.38-11.69-9.61-13.31-11.2-8.44-8.29-15.54-18.39-21.35-28.65h58.5Z" class="secondary-fill" />
        <path d="M106.99,259.01c.91.92-2.9,11.11-2.92,13.62-.04,7.07,12.82,10.05,16.7,15.09l10.12,69.63c-.3,1.08-15.73,9.04-17.62,9.43-3.19.65-15.57,1.11-17.11-1.44l-24.14-67.86c.06-3.32,14.3-12.92,14.99-17.02,1.18-7.05-6.88-10.32-10.01-15.44l29.99-6.01Z" class="secondary-fill" />
        <path d="M395,265.01c-3.26,5.54-11.43,8.04-9.99,15.46.91,4.67,15.47,13.45,14.84,17.78l-24.02,67.09c-1.62,2.68-14.57,2.04-17.87,1.19-1.83-.47-16.59-8.19-16.87-9.18l10.12-69.63c3.88-5.04,16.75-8.02,16.7-15.09-.02-2.51-3.83-12.71-2.92-13.62l29.99,6.01Z" class="secondary-fill" />
        <path d="M235.64,99.07l30.94,25.85c1.12.97,1.4,2.15,1.51,3.57.21,2.71-3.5,24.21-4.67,26.43-.91,1.72-17.64,18.38-19.93,20.07-6.19,4.59-8.79,4.6-15,0-2.28-1.69-19.02-18.35-19.93-20.07-1.18-2.25-4.71-22.45-4.67-25.44.02-1.74.08-3.32,1.52-4.56l30.22-25.85Z" fill="#fea98c"/>
        <path d="M340,191h-56.5c-5.09,0-13.14-7.81-14.1-12.98-.46-2.51,2.49-14.05,3.73-14.9,2.36-1.6,7.49,2.01,13.3-5.2,2.37-2.94,11.27-17.77,12.75-21.25,4.53-10.66-1.67-21.51-13.71-20.72-3.21.21-5.81,1.92-8.06,2.02-5.1.22-13.87-11.54-18.92-13.96-1.38-1.49,1.09-1.09,2.03-1.03,6.2.38,25.58,4.43,31.71,6.31,21.94,6.73,13.92,34.67,16.27,51.73,1.68,3.4,11.18.06,14.73,9.27.96,2.48.59,5.66,2.31,7.69,2.83,3.35,16.94,1.58,14.47,13.03Z" fill="#010101"/>
        <path d="M132,191c-.8-4.41,1.9-8.92,6.05-10.45,2.04-.75,4.11-.38,6-1,4.4-1.43,3.41-5.85,4.72-9.28,3.55-9.21,13.05-5.87,14.73-9.27,2.36-17.05-5.67-44.99,16.27-51.73,9.72-2.98,22.62-3.71,32.71-6.29,2.09,2.08-.97,2.02-1.97,2.98-2.25,2.15-11.44,11-13.49,11.62-3.42,1.04-6.61-1.39-10.5-1.64-12.04-.79-18.24,10.06-13.71,20.72,1.48,3.48,10.38,18.31,12.75,21.25,5.81,7.21,10.94,3.6,13.3,5.2,1.24.84,4.19,12.39,3.73,14.9-.96,5.17-9.01,12.98-14.1,12.98h-56.5Z" fill="#010101"/>
        <path d="M182,299c-1.19-1.39-.67-1.93,1-1,18.45,14.87,29.17,23.29,55.01,17.51,4.34-.97,14.85-6.44,16.49-6.44,1.98,0,4.82,2.39,7.27,2.73,8.91,1.27,18.09-7.35,18.31-16.31.16-6.21-3.82-8.7-4.06-12.05-.21-2.89,3.62-12.08,3.97-16.96,1.32-18.42-6.87-37.29-21.98-47.99,4.14-.83,9.15,2.92,12.72,5.28,34.54,22.93,34.04,77.59-1.27,99.17h-66.9c-10.08-5.18-15.92-14.08-20.55-23.95Z" class="primary-fill" />
        <path d="M223,88.99l-34.9,7.93-11.93-21.59c-.14-.95,7.69-16.61,8.36-17.3,1.33-1.38,11.19-4.3,12.99-3.12,1.54,1.01,20.78,20.22,21.53,21.55,1.85,3.23,1.61,9.04,3.95,12.54Z" class="primary-fill" />
        <path d="M283.9,96.94l-34.91-7.96,3.95-12.54c4.07-2.62,19.94-21.69,22.67-22.22.75-.15,10.71,2.81,11.36,3.29.78.57,8.7,16.23,8.84,17.18.23,1.61-11.16,18.66-11.91,22.24Z" class="primary-fill" />
        <path d="M181,367c0-8.37-1.25-10.45,7.46-11.04,31.74-2.15,65.98,1.62,97.98.14,5.82.32,4.47,6.45,4.56,10.91h-110Z" class="secondary-fill" />
        <path d="M220.71,37.21c2.31-.66,28.26-.66,30.57,0,.89.26,14.7,10.36,14.7,11.29l-15.48,15.48c-7.03-14.41-21.93-14.46-29,0l-15.48-15.48c0-.93,13.81-11.03,14.7-11.29Z" class="primary-fill" />
        <path d="M192,345c0-8.37-1.25-10.45,7.46-11.04,24.61-1.67,51.17,1.26,75.98.14,5.82.32,4.47,6.45,4.56,10.91h-88Z" class="secondary-fill" />
        <path d="M372.41,184.57c8.49,8.67,14.52,19.88,22.37,29.14-.24,13.08-2.63,26.22-3.79,39.29l-11.99-2.01c-1.3-13.89,1.77-30.91-.09-44.41-.98-7.08-7.31-17.16-9.91-24.09,1.6-1.76,2.56,1.22,3.4,2.08Z" fill="#faa78a" />
        <path d="M92.99,250.99l-11.99,2.01-3.99-38.48c7.94-11.06,15.64-22.73,24.98-32.53-1.05,7.96-7.87,17.07-8.9,24.59-1.86,13.5,1.21,30.52-.09,44.41Z" fill="#faa78a"/>
        <path d="M235.64,64.08c7.96,1.4,6.63,21.39.84,21.99-6.88.71-7.97-19.43-.84-21.99Z" class="secondary-fill" />
        <path d="M276.01,152l3.17-22.83c2.74-1.74,11.52-4.57,10.67,1.1-.16,1.09-9.59,17-11.01,19.07-.7,1.02-1.55,2.38-2.83,2.66Z" fill="#faa78a"/>
        <path d="M192.82,129.17l3.17,22.83c-2.67-2.91-14.02-19.77-14-22.55.04-4.53,8.37-1.91,10.83-.28Z" fill="#faa78a"/>
        <path d="M392.98,167.01c.6.51,7.6,12.86,7.73,13.63.15.89-2.14,16.7-2.72,17.36-1.44,1.64-1.86-.78-2.29-1.27-8.64-10.02-1.23-7.88-.64-16.24.28-4.06-1.97-9.49-4.05-13-.13-.85,1.85-.58,1.97-.48Z" fill="#faa78a"/>
        <path d="M75.98,197.99c-1.71,1.48-1.68-.29-2.01-1.44-.75-2.56-2.99-14-2.68-15.91s6.6-11.17,8.7-12.64c-.67,4.29-3.38,7.87-3.05,12.49.25,3.52,4.14,7.84,3.85,9.84-.06.45-4.47,7.37-4.81,7.67Z" fill="#faa78a"/>
        <path d="M104.01,234c.53-3.58-1.02-9.92.48-13.01,1.78-3.66,11.4-6.76,12.34-.26.74,5.1-9.51,10.05-12.82,13.27Z" fill="#faa78a"/>
        <path d="M367.99,234c-3.31-3.21-13.56-8.17-12.82-13.27.94-6.5,10.55-3.4,12.34.26,1.5,3.08-.05,9.43.48,13.01Z" fill="#faa78a"/>
        <path d="M267.76,291.24c4.44,4.42-3.01,13.74-8.21,7.72-5.58-6.46,3.9-12.01,8.21-7.72Z" fill="#f8f8f8"/>
        <path d="M196.71,229.14c5.97-1.55,9.3,9.81,1.73,10.9s-8.12-9.24-1.73-10.9Z" fill="#f9f9f9"/>
        <path d="M183,298l-1,1c-.24-.51-2.46-2.63-2-2.99,2.15-.67,2.16,1.31,3,1.99Z" fill="#4487bf"/>
        <path d="M226.24,150.76c-6.56-6.54,6.83-12.31,12.76-9.77-1.58-5.14-11.66-22.08-6.6-26.08,3.33-2.64,6.87-.8,8.79,2.4s9.52,22.16,10.31,25.68c.6,2.65,1.44,7.09-1.5,8.52-2.31,1.12-22.04.97-23.76-.74Z"/>
        </g>
      </svg>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  h1 {
    font-size: var(--font-size-5);
    line-height: var(--font-size-6);
    text-wrap: unset;
  }

  .text-gradient {
    background: linear-gradient(
      315deg,
      var(--color-primary-300) 25%,
      var(--color-secondary-300)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (prefers-color-scheme: dark) {
    .text-gradient {
      background: linear-gradient(
        315deg,
        var(--color-secondary-100) 25%,
        var(--color-primary-200)
      );
    }
  }

  .primary-fill {
    fill: var(--color-primary, #090A0B);
  }

  .secondary-fill {
    fill: var(--color-accent, #FF0000);
  }
  /* Override button secondary colors to use dynamic theme colors */
  :global(.button.type-secondary) {
    --color-secondary-border: var(--color-secondary-500) !important;
    --color-secondary-bg: var(--color-secondary-100) !important;
    border-color: var(--color-secondary-border) !important;
    background-color: var(--color-secondary-bg) !important;
  }

  @media (prefers-color-scheme: dark) {
    :global(.button.type-secondary) {
      --color-secondary-border: var(--color-secondary-100) !important;
      --color-secondary-bg: var(--color-secondary-500) !important;
    }
  }
</style>
